[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Tizzy Macgregor (tizzymac)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tizzy Macgregor (tizzymac)
	label-Verified = -1..+1 group user/Tizzy Macgregor (tizzymac)
	push = group user/Tizzy Macgregor (tizzymac)
	read = group user/Tizzy Macgregor (tizzymac)
	rebase = group user/Tizzy Macgregor (tizzymac)
	removeReviewer = group user/Tizzy Macgregor (tizzymac)
	submit = group user/Tizzy Macgregor (tizzymac)
[access "refs/heads/*"]
	create = group user/Tizzy Macgregor (tizzymac)
	push = +force group user/Tizzy Macgregor (tizzymac)
	pushMerge = group user/Tizzy Macgregor (tizzymac)
	read = group user/Tizzy Macgregor (tizzymac)
[access "refs/tags/*"]
	push = group user/Tizzy Macgregor (tizzymac)
	push = +force group user/Tizzy Macgregor (tizzymac)
